
html {    
    height: 100% auto;
    width: 0 auto 0 auto;
    
}

body {    
    background-image: url('./img/default.jpg');
    color: white; 
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center center;    
    
    text-shadow: 2px 2px 1px black;
    font-family: "palatino Linotype", "book Anitiqua", palatino, sarif;
}


.masternavbar {
    background-color:  rgba(2, 34, 53, 0.938);
    width: 100%;
    text-align: center;
    padding: 25px;
    height: 70px;
    overflow: hidden;
    
}

.columns {
    margin: 20px;
    inline-size: 20px;
    background-color: brown;
}

h1 {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #444;
}

.searchContainter {
    width: 50%;
    position: relative;
    top: 35px;
    left: 30px;
}

#weatherContainer {
    background-color: rgb(0, 0, 0, 0.25);      /*rgb(116, 118, 122);*/  
    
}


#weatherContainer { 
    position: relative;
    width: 21.80%;
    left: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}


button {
    position: relative;
    left: 205px;
    bottom: 37px;
    padding: 10px;    
}

#weatherMain {
    display: block;
    margin-bottom: 20px;
}

#weatherMain div {
    display: block;
}

#weatherDiscriptionHeader {
    font-size: 28px;
    vertical-align: 50px;
}


#temperature {
    font-size: 38px;
    vertical-align: 25px;
}


#buttonDetails {
    display: block;
    font-size: 24px;
    text-align: right;
}


hr {
    margin-bottom: 20px;
    color: whitesmoke;
}


